.get-card{
    display: flex;
    flex-direction: column;
    width: 47rem;
    height: 19.75rem;
    border: .0625rem solid rgba(153, 153, 153, 1);
    border-radius: 1rem;
    margin: 1.5rem 1.5rem 0 1.5rem;
    @media screen {
        @media(max-width:425px){
            width: 26rem;
            margin-top: 1.2rem;
        }
        @media(max-width:375px){
            width: 20rem;
            margin: 1.2rem 0 0 0;
        }
    }
    .get-card-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 47rem;
        height: 4.375rem;
        background-color: rgba(118, 149, 236, 1);
        border-radius: 1rem 1rem 0 0;
        @media screen {
            @media(max-width:425px){
                width: 26rem;
            }
            @media(max-width:375px){
                width: 20rem;
            }
        }
        .get-card-h1{
            width: 23.125rem;
            height: 1.375rem;
            font-weight: 700;
            font-family: 'Roboto';
            font-size: 1.375rem;
            color: rgba(255, 255, 255, 1);
            margin: 1.5rem 0 0 1.5rem;
            @media screen {
                @media(max-width:375px){
                    width: 14.375rem;
                    font-size: .9375rem;
                }
            }
        }
        .get-card-icons{
            display: flex;
            border: none;
            width: 4.4125rem;
            color: rgba(255, 255, 255, 1);
            justify-content: space-between;
            margin: 1.4844rem .7937rem;
            cursor: pointer;
            font-size: 1.4063rem;
            .get-card-buttons{
                &:hover{
                box-shadow: 0 0 0.5rem 0 rgba(255, 255, 255, 1);
                }
            }
        }
    }
    .get-card-data-user{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 44.125rem;
        height: 1.125rem;
        margin: 1.5rem 1.5rem 1rem 1.5rem;
        @media screen {
            @media(max-width:425px){
                width: 20rem;
            }
            @media(max-width:375px){
                width: 16rem;
            }
        }
        .get-card-user{
            display: flex;
            width: auto;
            height: 1.125rem;
            color: rgba(119, 119, 119, 1);
            margin: 0;
            padding: 0;
            @media screen {
                @media(max-width:425px){
                    font-size: .75rem;
                }
                @media(max-width:375px){
                    font-size: .75rem;
                }
            }
        }
        .get-card-timestamp{
            display: flex;
            width: auto;
            height: 1.125rem;
            color: rgba(119, 119, 119, 1);
            margin: 0;
            padding: 0;
            font-size: 'Roboto';
            font-weight: 400;
            font-size: 1.125rem;
            @media screen {
                @media(max-width:375px){
                    font-size: .75rem;
                }
            }
        }
    }
    .get-card-api-content{
        display: flex;
        width: auto;
        height: auto;
        margin: 1rem 1.5rem;
        font-size: 1.125rem;
        font-family: 'Roboto';
        font-weight: 400;
    }
}