.mainpage{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(204, 204, 204, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    .mainpage-conteiner{
        width: 50rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 1);
        
        
    }
}